// --------------------------------

// How to create custom utility classes

// --------------------------------

// 👇 your custom utility class
// .my-util-class { 
//   property: value;
// }

// 👇 (optional) create responsive variations - edit only [my-util-class, property, value]
// @each $breakpoint, $value in $breakpoints { 
//   @include breakpoint(#{$breakpoint}) {
//     .my-util-class\@#{$breakpoint} {
//       property: value;
//     }
//   }
// }
.table { display: table; }

.color-progressive {
    color: alpha(var(--color-progressive), var(--color-o, 1));
}

.color-progressive-1 {
    color: alpha(var(--color-progressive-1), var(--color-o, 1));
}

.color-progressive-2 {
    color: alpha(var(--color-progressive-2), var(--color-o, 1));
}

.color-progressive-3 {
    color: alpha(var(--color-progressive-3), var(--color-o, 1));
}

.color-progressive-4 {
    color: alpha(var(--color-progressive-4), var(--color-o, 1));
}

.color-challenger {
    color: alpha(var(--color-challenger), var(--color-o, 1));
}

.width-min {
    width: min-content;
}

.body-bg {
    //background: linear-gradient(180deg, var(--color-offwhite-2) 0%, var(--color-offwhite-1) 69.79%);
    background: var(--color-offwhite-1);
    background-attachment: fixed;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.no-scroll {
    overflow: hidden;
}

.fixed {
    position: fixed;

    &.fixed--bottom {
        bottom: 0;
        left: 0;
    }

    &.fixed--top {
        top: 0;
        left: 0;
    }
}

.previewbox {
    position: relative;
    min-height: 250px;
    overflow: scroll;

    border: 1px solid #383841;

    &.preview-mobile {
        width: 375px;
        height: 812px;
        margin: 0 auto;

        //padding: var(--space-md);
    }
}

.previewbox .fixed {
    position: absolute;
}

.layout-container {
    @media screen and (min-width: 1024px) {
        display: grid;
        gap: 0;
        grid-template-columns: min-content 1fr;
        grid-template-rows: 1fr;
    }
}