// --------------------------------

// How to create custom utility classes

// --------------------------------

// 👇 your custom utility class
// .my-util-class { 
//   property: value;
// }

// 👇 (optional) create responsive variations - edit only [my-util-class, property, value]
// @each $breakpoint, $value in $breakpoints { 
//   @include breakpoint(#{$breakpoint}) {
//     .my-util-class\@#{$breakpoint} {
//       property: value;
//     }
//   }
// }
.color-progressive { color: alpha(var(--color-progressive), var(--color-o, 1)); }
.color-progressive-4 { color: alpha(var(--color-progressive-4), var(--color-o, 1)); }

.color-challenger { color: alpha(var(--color-challenger), var(--color-o, 1)); }

.body-bg {
    background: linear-gradient(180deg, #EBE9E0 0%, #E1DED0 69.79%);
    background-attachment: fixed;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fixed {
    position: fixed;

    &.fixed--bottom {
        bottom: 0;
        left: 0;
    }

    &.fixed--top {
        top: 0;
        left: 0;
    }
}

.previewbox {
    position: relative;
    min-height: 250px;
    overflow: scroll;

    border: 1px solid #383841;

    &.preview-mobile {
        width: 375px;
        height: 812px;
        margin: 0 auto;

        padding: var(--space-md);
    }
}

.previewbox .fixed {
    position: absolute;
}