/* -------------------------------- 

File#: _1_bottom-navigation-bar
Title: Bottom Navigation Bar
Descr: Mobile navigation bottom bar

-------------------------------- */

.bottom-navbar {
    width: 100%;
    background: var(--color-progressive);

    box-shadow: 0 -1.2px 1.9px -1px rgba(0, 0, 0, 0.014),
    0 -3.3px 5.3px -1px rgba(0, 0, 0, 0.038),
    0 -8.5px 12.7px -1px rgba(0, 0, 0, 0.085),
    0 -30px 42px -1px rgba(0, 0, 0, 0.15);
}

.bottom-navbar-item {
    position: relative;

    flex: 1;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: var(--space-xs) 0;

    color: var(--color-progressive-4);
    text-decoration: none;

    transition: color ease 0.2s, background ease 0.2s;

    &:hover {
        background: var(--color-progressive-1);
    }

    &[data-state=active] {
        color: var(--color-progressive);
        background: var(--color-restless);

        .bottom-navbar-item--icon {
            fill: var(--color-progressive);
        }
    }

    .bottom-navbar-item--icon {
        width: 2em;
        height: 2em;

        margin-bottom: var(--space-xxxxs);
    }

    .bottom-navbar-item--text {
        font-size: var(--text-sm);
        letter-spacing: var(--text-spacing);
    }
}