.hubspot-return-calc {
    padding: var(--space-xxxl) var(--space-md);

    text-align: center;

    color: var(--color-offwhite);

    @include breakpoint(md) {
        padding: var(--space-xxxl) var(--space-lg);
    }
}

.hubspot-return-calc__inner {
    max-width: var(--max-width-md);
    margin: 0 auto;
}

.hubspot-return-calc__title {
    margin-bottom: var(--space-lg);
}

.hubspot-return-calc__text {
    margin-bottom: var(--space-xl);
}