/* -------------------------------- 

File#: _1_hiding-nav
Title: Auto Hiding Navigation
Descr: A Navigation container that auto-hides when the user scrolls down, and is revealed when they scrolls back up
Usage: codyhouse.co/license

-------------------------------- */

.hide-nav {
    position: sticky !important;
    top: 0;
    will-change: transform;
    transition: transform 0.3s, background-color 0.3s;
  }
  
  .hide-nav--fixed {
    position: fixed !important;
    background-color: transparent;
  }
  
  .hide-nav--has-bg {
    color: var(--color-progressive) !important;
    background-color: var(--color-offwhite);

    .f-header__logo {
      --logo-progressive:  var(--color-progressive);
      --logo-challenger:  var(--color-challenger);
      --logo-smart:  var(--color-smart);
      --logo-offwhite:  var(--color-offwhite);
    }

    .f-header__link {
      color: var(--color-progressive);
  }
  }
  
  .hide-nav--off-canvas { // main header is off-canvas
    // add off-canvas custom style (if any)
  }