/* -------------------------------- 

File#: _1_title-bar
Title: Page title bar
Descr: Contains page title and holds notifications and user profile

-------------------------------- */

.title-bar {
    
}

.title-bar-text {
    font-size: var(--text-lg);
    font-weight: 600;

    color: var(--color-progressive);

    letter-spacing: var(--text-spacing);

    position:relative;

    &:after {
        content: "";
        position: absolute;
        left:0;
        bottom: -5px;

        transform: translateX(-25%);

        background: var(--color-challenger);
        width: 1.5rem;
        height: 0.1875rem;
    }
}

.title-bar-actions {

}

/*@media (prefers-color-scheme: dark) {
    .title-bar-text {
        color: var(--color-offwhite);
    }
}*/