/* -------------------------------- 

File#: _1_title-bar
Title: Page title bar
Descr: Contains page title and holds notifications and user profile

-------------------------------- */

.title-bar {
	position: sticky;
	top: 0;
	z-index: var(--zindex-header);
	background: var(--color-offwhite-1);
	width: 100%;
	padding-top: var(--space-md);

	button {
		cursor: pointer;
	}
}

.title-bar-text {
	font-size: var(--text-lg);
	font-weight: 600;

	color: var(--color-progressive);

	letter-spacing: var(--text-spacing);

	position: relative;

	&:after {
		content: "";
		position: absolute;
		left: 0;
		bottom: -5px;

		transform: translateX(-25%);

		background: var(--color-challenger);
		width: 1.5rem;
		height: 0.1875rem;
	}
}

.title-bar-actions {
}

.title-bar-notification {
	margin-left: auto;
	margin-right: var(--space-md);
	position: relative;
	@include breakpoint(md) {
		margin-left: var(--space-md);
	}

	&.title-bar-notification--active {
		cursor: pointer;
		color: var(--color-challenger);
	}
}

.title-bar-desktop-depot-switch {
	display: none;
	@include breakpoint(md) {
		display: flex;
		margin-left: auto;
		padding-left: 6px;
		background-color: var(--color-restless);
		color: var(--color-progressive);
		border-radius: var(--space-lg);
	}

	.title-bar-desktop-depot-switch__label {
		display: block;
		padding: var(--space-xxs) var(--space-xs);
		font-size: var(--text-sm);
	}

	.title-bar-desktop-depot-switch__depot {
		display: block;
		margin-left: auto;
		font-size: var(--text-sm);
		background-color: var(--color-challenger);
		padding: var(--space-xxs) var(--space-xs);
		color: var(--color-offwhite);
		border-radius: var(--space-lg);
	}
}

.notification-bubble {
	position: absolute;
	background-color: var(--color-challenger);
	color: var(--color-offwhite);
	top: 0;
	right: calc(-.5 * var(--text-sm));
	border-radius: 100%;
	height: calc(1.3 * var(--text-sm));
	width: calc(1.3 * var(--text-sm));
	font-size: var(--text-sm);
	line-height: calc(1.3 * var(--text-sm));
}

/*@media (prefers-color-scheme: dark) {
    .title-bar-text {
        color: var(--color-offwhite);
    }
}*/
