/* -------------------------------- 

File#: _2_card
Title: Content cards
Descr: Used to display data

-------------------------------- */

.card {
    border-radius: var(--radius-lg);
    overflow: hidden;

    &.card--collapsed {
        .card__content {
            display: none;
        }

        .card__header-action-icon {
            transform: scaleY(-1);
        }
    }

    &.card--simple {
        .card__header {
            border-radius: var(--radius-lg);
        }
    }

    .card__header {
        border-top-left-radius: var(--radius-lg);
        border-top-right-radius: var(--radius-lg);
        padding-top: var(--space-sm);
        padding-bottom: var(--space-sm);
        position: relative;

        &.card__header--flush {
            padding-bottom: 0;
        }

        .card__header-inner {
            padding-left: var(--space-md);
            padding-right: var(--space-md);

    
            & + .card__tabs {
                margin-top: var(--space-xxxs);
            }
        }

        .card__header-action-icon {
            position: absolute;
            right: 0;
            bottom: 0;
            margin: var(--space-xs);
            cursor: pointer;

            &.card__header-action-icon--restless {
                color: var(--color-restless);
            }
    
            &.card__header-action-icon--genuine {
                color: var(--color-genuine-3);
            }
    
            &.card__header-action-icon--challenger {
                color: var(--color-challenger);
            }

            &.card__header-action-icon--inactive {
                cursor: default;
            }

            .icon {
                height: var(--text-lg);
                width: var(--text-lg);
            }

            &.card__header-action-icon--collapsible {
                .icon {
                    height: var(--text-xl);
                    width: var(--text-xl);
                    color: var(--color-offwhite);
                }
            }
        }
        
        &.card__header--progressive {
            background-color: var(--color-progressive);
        }
    }

    .card__title {
        font-size: var(--text-sm);
        color: var(--color-offwhite);
        font-weight: 400;

        &.card__title--large {
            font-size: var(--text-md);
        }

        & + .card__data-display {
            margin-top: var(--space-xxs);
        }
    }

    .card__data-display {
        font-size: var(--text-xl);
        font-weight: 600;
        white-space: nowrap;
        letter-spacing: var(--text-spacing);

        &.card__data-display--restless {
            color: var(--color-restless);
        }

        &.card__data-display--genuine {
            color: var(--color-genuine-3);
        }

        &.card__data-display--challenger {
            color: var(--color-challenger);
        }
    }

    &.card-collapsible {
        .card__data-display {
            padding-right: var(--text-md);
        }
    }

    .card__tabs {
        display: flex;
        justify-items: stretch;
        align-items: stretch;

        .card__tab-btn {
            position: relative;
            display: block;
            flex: 1;
            padding: var(--space-sm) var(--space-xxxs);

            color: var(--color-progressive-4);

            cursor: pointer;

            transition: color ease 0.2s;

            outline: 0;

            &:hover {
                color: var(--color-offwhite);
            }

            &:active {
                color: var(--color-restless);
            }

            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                height: 0;

                background: var(--color-restless);
                width: 100%;

                transition: height ease 0.2s, color ease 0.2s;
            }

            &.active {
                color: var(--color-restless);

                cursor: default;

                &:after {
                    height: var(--space-xxxs);
                }
            }
        }
    }

    .card__filters {
        margin-bottom: var(--space-md);

        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: var(--space-xs);

        .card__filter {
            padding: var(--space-sm) var(--space-md);
            background: var(--color-progressive-2);
            color: var(--color-offwhite);
            flex-grow: 1;
            border-radius: var(--radius-full);

            .card__filter-active-text {
                display: inline-block;
                margin-left: var(--space-xs);
            }

            &.control--active {
                color: var(--color-restless);
            }
        }
        .card__sort {
            margin-left: var(--space-sm);
            padding: var(--space-sm);
            background: var(--color-progressive-2);
            color: var(--color-offwhite);
            border-radius: var(--radius-full);
            width: 44px; //Find a more dynamic way!
        }
    }

    .card__content {
        border-bottom-left-radius: var(--radius-lg);
        border-bottom-right-radius: var(--radius-lg);
        background: var(--color-offwhite-3);
    }

    .card__html {
        padding: var(--space-md) var(--space-md);
    }

    .card__data-table {
        .card__data-table__row {
            display: flex;
            justify-content: space-between;
            flex: 1;
            align-items: center;
            position: relative;
        }

        .card__data-table__row--bordered {
            border-bottom: 1px solid var(--color-offwhite);

            &:last-child {
                border: 0;
            }
        }

        .card__data-table__item {
            padding: var(--space-md) var(--space-md);

            &:first-child {
                padding-right: 0;
            }

            &:last-child {
                padding-left: 0;
            }

            .icon {
                margin-right: var(--space-xs);
            }
        }

        .card__data-table__item--clickable {
            cursor: pointer;
        }

        .card__data-table__item--disabled {
            * { 
                color: var(--color-smart-2);
            }
        }

        .card__data-table__item-undertext {
            position: absolute;
            font-size: var(--text-xs);
            top: calc(2 * var(--space-md));
            left: 0px;
        }

        tr {
            border-bottom: 1px solid var(--color-offwhite);

            &:last-child {
                border: 0;
            }
        }
        td {
            padding: var(--space-md) var(--space-md);
        }
    }
}