/* -------------------------------- 

File#: _2_modals
Title: Modal Window 
Descr: Displays some data in a modal popup

-------------------------------- */

.modal-wrapper {
	&.modal--is-visible {
		.modal__overlay {
			transform: translateX(0);
			background: rgba(0, 0, 0, 0.3);
		}

		&.modal--fill-all {
			.modal__overlay {
				background: var(--color-progressive);
			}
		}

		.modal {
			box-shadow: var(--shadow-xs);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
			height: fit-content;
			overflow: auto;
		}
	}

	&.under {
		z-index: var(--zindex-popover);
	}
}

.modal__overlay {
	transform: translateX(100%);
	background: rgba(0, 0, 0, 0);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: var(--zindex-fixed-element);

	transition: background ease 0.2s;
}

.modal {
	background: var(--color-offwhite-3);
	text-align: center;
	position: fixed;
	min-height: var(--max-width-xxxs);
	max-height: 100%;
	max-width: var(--max-width-xs);
	width: 100%;
	bottom: 0;
	left: 50%;
	top: 50%;
	right: 0;
	margin: 0 auto;
	z-index: var(--zindex-overlay);
	transform: translateX(100%);
	transition: transform var(--ease-out) 0.3s;
	padding: var(--space-xl);
	transform: translate(-50%, -300%);

	border-radius: var(--radius-lg);

	@media (max-width: --max-width-xs) {
		min-width: 100%;
	}

	.modal__icon {
		width: var(--space-xxxl);
		height: var(--space-xxxl);

		&.modal__icon--success {
			color: var(--color-success);
		}

		&.modal__icon--info {
			color: var(--color-warning);
		}

		&.modal__icon--error {
			color: var(--color-error);
		}
	}

	.modal__content,
	.modal__actions {
		padding: var(--space-md) 0;

		.btn {
			width: 80%;
		}
	}

	&.onboarding-popup {
		padding: 0;
		max-width: var(--max-width-sm);
		z-index: calc(var(--zindex-fixed-element) + 1);
		bottom: auto;

		.onboarding-popup__nav {
			min-width: 300px;
			background: var(--color-progressive);
			display: flex;
			flex-direction: column;
			color: var(--color-offwhite-3);

			.onboarding-popup__nav__item {
				position: relative;
				cursor: pointer;
				flex: 1;
				align-items: center;
				justify-content: center;
				color: var(--color-progressive-4);
				text-decoration: none;
				transition: color ease 0.2s, background ease 0.2s;
				text-align: left;
				padding: var(--space-xs) var(--space-xl) var(--space-xs) var(--space-md);

				&:hover {
					background: var(--color-progressive-1);
				}

				&.active {
					color: var(--color-offwhite);
					border-left: 5px solid var(--color-restless);
					background-image: linear-gradient(45deg, var(--gradient-progressive-stop-2), var(--gradient-progressive-stop-1));

					.bottom-navbar-item--icon {
						fill: var(--color-restless);
					}
				}

				&:hover:not(.active) {
					border-color: var(--color-progressive-1);
				}
			}
		}

		.onboarding-popup__content {
			padding: var(--space-md);
		}
	}

	&.modal--boxed {
		border-radius: 0;
	}
}
