/* -------------------------------- 

File#: _2_modals
Title: Modal Window 
Descr: Displays some data in a modal popup

-------------------------------- */

.modal-wrapper {
	&.modal--is-visible {
		.modal__overlay {
			transform: translateX(0);
			background: rgba(0, 0, 0, 0.3);
		}

		.modal {
			box-shadow: var(--shadow-xs);
			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}

.modal__overlay {
	transform: translateX(100%);
	background: rgba(0, 0, 0, 0);
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: var(--zindex-fixed-element);

	transition: background ease 0.2s;
}

.modal {
	background: var(--color-offwhite-3);
	text-align: center;
	position: fixed;
	min-height: var(--max-width-xxxs);
	max-height: 100%;
    max-width: var(--max-width-xs);
    width: 100%;
	bottom: 0;
	left: 50%;
	top: 50%;
	right: 0;
	margin: 0 auto;
	z-index: var(--zindex-overlay);
	transform: translateX(100%);
	transition: transform var(--ease-out) 0.3s;
	padding: var(--space-xl);
    transform: translate(-50%, -300%);

	border-radius: var(--radius-lg);

    @media (max-width: --max-width-xs) {
        min-width: 100%;
    }

	.modal__icon {
        width: var(--space-xxxl);
        height: var(--space-xxxl);
		
		&.modal__icon--success {
			color: var(--color-success);
		}

		&.modal__icon--info {
			color: var(--color-warning);
		}

		&.modal__icon--error {
			color: var(--color-error);
		}
	}

	.modal__content,
	.modal__actions {
		padding: var(--space-md) 0;
	}
}
