.investor-level-display {
	display: flex;
	justify-content: space-between;
	padding: var(--space-md);
	font-weight: 600;
	background-color: var(--color-challenger);
	color: var(--color-offwhite);
	border-color: var(--color-offwhite-2);
	cursor: pointer;
}

.investor-level-next-level-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: var(--space-md);
	background-color: var(--color-offwhite-1);
	color: var(--color-progressive);
	&:not(:last-child) {
		padding-bottom: 0;
	}

	.investor-level-next-level-info__header {
		margin-bottom: var(--space-xs);
		font-weight: 600;
	}

	.investor-level-next-level-info__info {
	}
}

.bronze-icon {
	color: var(--color-restless);
	fill: var(--color-restless);
}

.silver-icon {
	color: var(--color-smart-1);
	fill: var(--color-smart-1);
}

.gold-icon {
	color: var(--color-restless-2);
	fill: var(--color-restless-2);
}

.platinum-icon {
	color: var(--color-smart-3);
	fill: var(--color-smart-3);
}

.vip-icon {
	color: var(--color-restless-2);
	fill: var(--color-restless-2);
}

.investor-level-icon-box {
	padding: 4px;
	margin-top: -4px;
	border-radius: 50%;
	background: #ebe9e0;
	margin-right: 10px;
	width: var(--space-lg);
	text-align: center;
	height: var(--space-lg);
	border: solid 1px var(--color-restless);
}
