<nav class="bottom-navbar flex fixed fixed--bottom">
    <a href="#" class="bottom-navbar-item" data-state="active">
        <svg class="icon bottom-navbar-item--icon">
            <use xlink:href="assets/icons/remix.svg#ri-eye-line" /></svg>
        <span class="bottom-navbar-item--text">Översikt</a>
    </a>

    <a href="#" class="bottom-navbar-item">
        <svg class="icon bottom-navbar-item--icon">
            <use xlink:href="assets/icons/remix.svg#ri-hand-coin-line" /></svg>
        <span class="bottom-navbar-item--text">Innehav</a>
    </a>

    <a href="#" class="bottom-navbar-item">
        <svg class="icon bottom-navbar-item--icon">
            <use xlink:href="assets/icons/remix.svg#ri-funds-line" /></svg>
        <span class="bottom-navbar-item--text">Investera</a>
    </a>

    <a href="#" class="bottom-navbar-item">
        <svg class="icon bottom-navbar-item--icon">
            <use xlink:href="assets/icons/remix.svg#ri-arrow-left-right-line" /></svg>
        <span class="bottom-navbar-item--text">Överföringar</a>
    </a>
</nav>