<nav class="bottom-navbar flex">
    <a href="#" class="bottom-navbar-item active">
        <svg class="icon bottom-navbar-item--icon"><use xlink:href="path/to/all.svg#{ICONNAME} "/></svg>
        <span class="bottom-navbar-item--text">Översikt</a>
    </a>

    <a href="#" class="bottom-navbar-item">
        <svg class="icon bottom-navbar-item--icon"><use xlink:href="path/to/all.svg#{ICONNAME} "/></svg>
        <span class="bottom-navbar-item--text">Innehav</a>
    </a>

    <a href="#" class="bottom-navbar-item">
        <svg class="icon bottom-navbar-item--icon"><use xlink:href="path/to/all.svg#{ICONNAME} "/></svg>
        <span class="bottom-navbar-item--text">Investera</a>
    </a>

    <a href="#" class="bottom-navbar-item">
        <svg class="icon bottom-navbar-item--icon"><use xlink:href="path/to/all.svg#{ICONNAME} "/></svg>
        <span class="bottom-navbar-item--text">Överföringar</a>
    </a>
</nav>